.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--border);
}

.canvasWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomHolder {
  margin: 14px;
  display: flex;
}

.label {
  cursor: pointer;
  position: relative;
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  height: 19px;
  padding: 0 6px 0 10px;
  line-height: 19px;
  border-radius: 19px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.icon {
  flex-shrink: 0;
  fill: rgba(255, 255, 255, 0.53);
  margin-top: 1px;
}

.icon:hover {
  fill: white;
}

.deleteIcon {
  composes: icon;
  margin-left: 8px;
}

.labelHolder {
  z-index: 1;
  display: flex;
}

.chatHead {
  position: relative;
  margin-left: auto;
  height: 32px;
  width: 32px;
  border: 2px solid var(--bg);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--bg); /* removes ugly pixelation */
  background-color: white;
}

.chatHeadOverflow {
  composes: chatHead;
  box-shadow: none;
  background-color: rgb(228, 234, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #152935;
  font-weight: 500;
}

.chatHead + .chatHead {
  margin-left: -8px;
}

.chatHeadIcon {
  fill: var(--blue);
  /* margin: 4px; */
  /* width: 20px;
  height: 20px; */
  height: 28px;
  width: 28px;
}
