absl-py==0.7.0
astor==0.7.1
botocore==1.12.26
certifi==2018.11.29
chardet==3.0.4
contextlib2==0.5.5
cycler==0.10.0
docutils==0.14
gast==0.2.2
grpcio==1.18.0
h5py==2.8.0
ibm-cos-sdk==2.3.2
ibm-cos-sdk-core==2.3.2
ibm-cos-sdk-s3transfer==2.3.2
idna==2.8
jmespath==0.9.3
Keras==2.2.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
numpy==1.15.1
pandas==0.24.0
Pillow==5.4.1
protobuf==3.6.1
pycocotools==2.0.0
pyparsing==2.3.1
python-dateutil==2.7.5
python-dotenv==0.10.1
pytz==2018.9
PyYAML==3.13
requests==2.21.0
scipy==1.2.0
six==1.11.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-hub==0.1.1
tensorflowjs==0.6.7
termcolor==1.1.0
urllib3==1.23
Werkzeug==0.14.1