.markdown-body h1 {
  /* padding-bottom: 0.3em; */
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 600;
  letter-spacing: 0px;
  border-bottom: 1px solid #eaecef;
}

.markdown-body h2 {
  margin-top: 5rem;
  /* padding-bottom: 0.3em; */
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0px;
  border-bottom: 0px solid transparent;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0px;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;

  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}
