/* .fixed {
  position: fixed;
  top: 64px;
  bottom: 0;
  overflow: scroll;
} */

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  padding-top: 36px;
  padding-bottom: 20px;

  position: fixed;
  top: 64px;
  bottom: 0;
  overflow: scroll;
  transform: translate(-500px);
}

/* all links */
.bs-docs-sidebar .nav > li > a {
  color: #a2a2a2;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  border-left-color: var(--primary);
}

.bs-docs-sidebar .nav .nav > li > a {
  border-left-color: transparent;
}

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
  display: block;
}

.wrapper-stuff {
  margin-top: 100px;
}

.wrapper-stuff .content {
  margin-left: auto;
}

/* fix linking to targets on page */
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

@media (min-width: 1200px) {
  .bs-docs-sidebar {
    transform: translate(0px);
  }

  .wrapper-stuff .content {
    margin-left: calc((100% - 782px - 256px) / 2 + 256px);
  }
}
